[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
requests = "*"
numpy = "*"
matplotlib = "*"
flask-sqlalchemy = "*"
pymysql = "*"
flask-migrate = "*"
pyjwt = "*"
flask-cors = "*"

[dev-packages]
yapf = "*"
